<% locals.setLayout('source/layout/_layout.ejs') -%>
<main>
    안뇽!~!!!재테스트합니다!!~~~~매라어랑라얼어ㅇㅇㅇ
    <!--
    <img src="images/2.png">
    <section>s
        안녕~~!!~~~!!
        <ul>
            <li>dddd</li>
            <li>dddd222</li>
        </ul>
        <menu>ddddd</menu>
    </section>
    <div>3번xxxx쨰2222~></div>
    <img src="images/3.jpg">
    -->
</main>
        